* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 10px;
  --color-shadow: rgba(9, 255, 1, .25)
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: rgb(230, 230, 230);
}

.header {
  margin: 1.5rem;
  font-size: 5rem;
  font-style: italic;
  text-shadow: .25rem .25rem .5rem var(--color-shadow),
    1rem 1rem 1.5rem rgba(0, 0, 0, .25);
}

.player-status {
  margin-left: 1.5rem;
  font-size: 2rem;
  text-shadow: .15rem .15rem .5rem var(--color-shadow),
    1rem 1rem 1.5rem rgba(0, 0, 0, .25);
}

.board {
  margin: 1.5rem;
  padding: .25rem;
  border: .25rem solid rgba(0, 0, 0, .5);
  border-radius: .5rem;
  box-shadow: .25rem .25rem .5rem var(--color-shadow),
  1rem 1rem 1.5rem rgba(0, 0, 0, .25);
  background-color: rgba(175, 182, 168, .25);
}

.square {
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  text-align: center;
  font-size: 6rem;
  border: .15rem ridge rgba(0, 0, 0, .5);
  border-radius: .4rem;
  box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
}

.score {
  margin: 2rem 1.5rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  color: coral;
}

.btn {
  margin: 1.5rem;
  padding: .25rem 2.5rem;
  font-size: 1.75rem;
  box-shadow: .25rem .25rem .5rem var(--color-shadow),
    1rem 1rem 1.5rem rgba(0, 0, 0, .25);
}